doctype html
html(lang='en')

  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(href='/style.css' type='text/css' rel='stylesheet')

    block title
      title DUWO Laundry Pass Creator

  body
    script document.body.className += " js"

    block content

    block footer
      .content
        .card: p
          b: a(href='https://carlosprecioso.com') Contact me
