doctype html
html(lang="en")

  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(href="/style.css" type="text/css" rel="stylesheet")

    block title
      title DUWO Laundry Pass Creator

  body
    script document.body.className += " js"

    .cover
      block cover

    .content
      block content

      block footer
        .card: p
          a(href="/") Main page →
          br
          a(href="https://carlosprecioso.com") About me →
          br
          a(href="/opensource") Everything is open source →
