extends layout

block title
  title Open source

block cover
  h1
    | Open
    br
    | Source

block content
  .card
    p All components of this website are opensource
    p
      | Server -
      |
      a(href="https://github.com/cprecioso/duwo-laundry-pass") duwo-laundry-pass →
      br
      | Multiposs scraping -
      |
      a(href="https://github.com/cprecioso/multiposs") multiposs →
      br
      | Passbook web service -
      |
      a(href="https://github.com/cprecioso/pass-server") pass-server →
      br
      | Passbook file creator -
      |
      a(href="https://github.com/cprecioso/pass-creator") pass-creator →
